@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-white;
  background-image: url('./assets/bg.png');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
